<div class="filter-nav">
  <%= form_with url: root_path, method: :get, local: true, html:{class: "filter-form"} do |form| %>
    <div class="filter-group">
      <%= form.select :category, options_for_select([["Category", "all"]] + Product.categories.keys.map { |c| [c.titleize, c] }, params[:category]), include_blank: false, class: "custom-select" %>
    </div>

    <div class="filter-group">
      <%= form.select :sorting, options_for_select([["Sorting", "none"], ["Price Ascending", "asc"], ["Price Descending", "desc"]], params[:sorting]), include_blank: false, class: "custom-select" %>
    </div>

    <div class="filter-group">
      <%= form.select :diet, options_for_select([["Diet", "all"]] + Product.diets.keys.map { |d| [d.titleize, d] }, params[:diet]), include_blank: false, class: "custom-select" %>
    </div>

    <%= form.submit "Filter", class: "submit-button" %>

    <div class="price-slider-group">
      <label class="filter-label">Price</label>
      <div class="price-slider">
        <input type="range" class="slider min-price" min="1" max="100" value="<%= params[:min_price] || 1 %>">
        <input type="range" class="slider max-price" min="1" max="100" value="<%= params[:max_price] || 100 %>">
        <div class="slider-track">
          <div class="slider-range"></div>
        </div>
        <div class="price-values">
          $<span class="min-value"><%= params[:min_price] || 1 %></span> - $<span class="max-value"><%= params[:max_price] || 100 %></span>
        </div>
      </div>
      <%= form.hidden_field :min_price, value: params[:min_price] || 1, id: "min_price" %>
      <%= form.hidden_field :max_price, value: params[:max_price] || 100, id: "max_price" %>
    </div>

  <% end %>
</div>